.main_footer_container {
    height: 10rem;
    width: 100%;
    background-color: #2A3335;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_footer_container p {
    color: #FFF7D1;
    font-size: x-large;
    font-weight: 500;
}
